*{
    box-sizing: border-box;
}
header{
    background-color: darkgreen;
    border: blue;
    border-style: solid;
    position: sticky;
    top: 0px;
}
main{
    background-color: darkorchid;
    border: pink;
    border-style: solid;
}
div{
    background-color: #fff;
    border: black;
    border-style: solid;
    margin: 5px 5px;
}
p{
    font-size: 60px;
}
footer{
    background-color: black;
    border: rgb(248, 1, 1);
    border-style: solid;
    color: white;
}
footer div{
    background-color: gray;
    width: 100%;
}
.flex{
    display:flex;
}
#indice{
    width: 25%;
}
#contenido{
    width: 75%;
}

@media(max-width:767px){
    main{
        width: auto;
    }
    footer{
        width: auto;
    }
    .flex{
        display: block;
        width: 100%;
    }
    #indice{
        width: 100%;
        padding: 10px 10px;
    }
    #contenido{
        width: 100%;
    }
}